/* HERO SECTION */
.hero {
  height: 100vh;
  background: url("images/bg.jpg") center/cover no-repeat;
  text-align: center;
  padding-top: 160px;
}

/* SKILL BOX */
.skill-box {
  transition: 0.3s;
}
.skill-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* CONTACT FORM */
#contact input,
#contact textarea {
  background: #222;
  color: white;
  border: none;
}
#contact input::placeholder,
#contact textarea::placeholder {
  color: #ccc;
}
